.debug{
    border: 1px solid black;

}

.bg_blue{
    background-color: #00439C;
}
.bg_gray{
    background-color: #1F1F1F;
}
.bg_black{
    background-color: #000000;
}.font_c_blue{
    color: #00439C;
}
.font_c_wh{
    color: white;
}
.header_top{
    text-align: right;
}
h2{
    font-size: 50px;
}
section{
    padding-top: 30px;
}



header .header_top img{
    width: 5%;
    text-align: right;
    color: white;
}



.jumbotron,
.jumbotron-fluid{
     padding-top: 300px;
     padding-bottom: 100px ;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    position: relative;

}
.image_title img{
    width: 40%;
    position: absolute;
    top:35%;
    left: 0;
}




.img_cont{
    border-radius: 10px;
    overflow: hidden;
}






/* mediaquery */
/* small */
@media screen and (max-width:576px) {
    .card-body .card-text{
        display: none;
    }
    
}
